/*----------Body Design Here----------*/

body{
    width: 90%;
    margin: auto;
    
}

/*----------Banner One Design----------*/

.banner-one{
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
}
.banner-one-text{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 200px 300px;
    text-align: center;
}
.banner-one-text h3{
    font-size: 30px;
    color: #FFF;
    font-weight: 400;
    margin: 0;
}
.banner-one-text h2{
    font-size: 70px;
    font-weight: 700;
    color: #FFF;
    margin: 0;
}

/* -------------------Off Section Design--------------------------- */

.off-section{
    text-align: center;
    margin-bottom: 120px;
}
.off-percent{
    font-size: 70px;
    color: #f00;
    font-weight: 700;
}
.off-details h3{
    font-size: 20px;
    font-weight: 500;
    color: #f00;
}


/* ----------------------Banner two Section-------------------------- */

.banner-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 130px;
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 100px;
    border-radius: 10px;
}
.banner-two-title{
    font-size: 60px;
    font-weight: 900;
    color: #FFF;
    width: 500px;
}
.banner-two-para{
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    width: 500px;
}
.banner-two-button{
    border: 0;
    background-color: #07021100;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
}

/* -----------------------Event Section Design-------------------------- */

.event-section{
    margin-bottom: 70px;
    background: linear-gradient(to top, #ffccff 0%, #ff99ff 80%);
    padding: 120px 300px;
    border-radius: 10px;
}
.event-text{
    text-align: center;
}
.event-text h3{
    font-size: 30px;
    font-weight: 600px;
}
.event-text h3 span{
    color: #f00;
}
.event-join-button{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    background-color: #f00;
}

/* ----------------Coming Soon Section----------------------- */

.coming-soon-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.coming-soon-left{
    max-width: 350px;
}
.coming-soon-left h2{
    margin: 0;
    padding: 0;
}
.coming-soon-left h3{
    margin: 0;
}
.comsoon-title{
    font-size: 20px;
    color: #f00;
}
.comsooon-btitle{
    font-size: 40px;
    font-weight: 900;
}
.comsoon-para{
    font-size: 18px;
}
.coming-soon-right{
    max-width: 350px;
}
.comsoon-right-title{
    font-size: 45px;
    font-weight: 700;
    color: #f00;
}
.comsoon-right-para{
    font-size: 20px;
    font-weight: 400;
}
.coming-soon-center{
    border: 15px solid #f00;
    border-radius: 220px;
    padding: 20px;
    justify-content: center;
    max-width: 400px;
}

/* Holydays Sale Section */

.holydays-sale-section{
    text-align: center;
    margin-bottom: 50px;

}
.sale-subtitle{
    font-size: 20px;
    font-weight: 400;
}
.sale-percent{
    font-size: 65px;
    font-weight: 900;
    margin: 0;
}
.sale-percent span{
    color: #f00;
}
.sale-para{
    font-size: 20px;
    font-weight: 400;
    padding: 0 200px;
}

/* ---------------------------Portfolio Section Design---------------------------- */

.port-sub-head{
    color: #f00;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.port-head{
    margin: 10px 0 0 0;
    font-size: 45px;
    font-weight: 900;
}
.port-details{
    font-size: 20px;
    font-weight: 400;
    max-width: 750px;
}
.port-image-l1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.port-image-l2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
/* -------------------Newsletter Section Design------------------------ */

.newsletter-section{
    text-align: center;
    background: rgba(255, 0, 0, 0.237);
    padding: 40px 0 40px 0;
    margin-bottom: 100px;
}
.newsletter-section img{
    height: 150px;
    width: 150px;
}
.news-title{
    font-size: 45px;
    font-weight: 900;
    margin: 0;
}
.news-para-div{
    display: flex;
    justify-content: center;
}
.news-para{
    font-size: 20px;
    font-weight: 400;
    max-width: 750px;
}
.subscribe-section{
    gap: 0px;
}
.sub-input{
    margin: 0;
    font-size: 25px;
    border: none;
    padding: 25px 0 25px 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.sub-button{
    margin: 0;
    font-size: 20px;
    padding: 25px 56px;
    background-color: #f00;
    color: #FFF;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* -------------------Footer Section Desogn-----------------*/

footer{
    background: #070211;
}
footer h3{
    font-size: 20px;
    color: #FFF;
}
.foot-address-section{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-phone-details{
    display: flex;
    align-items: center;
}
.foot-phone-details img{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}
.foot-web-details{
    align-items: center;
    display: flex;
}
.foot-web-details img{
    height: 30px;
    width: 30px;
    padding-right: 10px;
}
.foot-icons{
    text-align: center;
}
.foot-icons img{
    height: 35px;
    width: 35px;
    padding-right: 20px;
    padding-bottom: 100px;
}
.foot-rights-section{
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}